<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="WcfObjectRecieve.WcfService"
               behaviorConfiguration="serviceBehavior">
        <endpoint name="WcfServiceEndPoint"
                  contract="WcfObjectRecieve.IWcfService"
                  address="http://heavensfeel.net:8080/"
                  binding="webHttpBinding"
                  bindingConfiguration="binding"
                  behaviorConfiguration="endPointBehavior"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="binding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors >
        <behavior name="endPointBehavior">
          <webHttp defaultBodyStyle="Bare"
                   defaultOutgoingResponseFormat="Json"
                   helpEnabled="true"
                   faultExceptionEnabled="true"
                   automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>